/* All the cool stuffs works fine in chrome and edge latest version */

:root {
  /* Define dark mode by default */
  --background-color: #171717;
  --text-color: #f8f8f8;
  --border-color: #f8f8f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dark and light mode */
html {
  --theme: dark;
  container-name: root;
  container-type: inline-size;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  color-scheme: var(--theme);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
}

html:has(#desarrollo:checked) {
  --theme: dark;
}

html:has(#diseño:checked) {
  --theme: light;
}

@container root style(--theme: light) {
  body {
    --background-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 0%);
    --border-color: hsl(0, 0%, 0%);
  }
}

.info {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
}

main {
  display: flex;
  flex-direction: column;
}

.last-visit {
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  margin-bottom: 50px;
}
.carousel {
  display: flex;
  padding-block: 20px;
  width: calc(500px * 7);

  img {
    background-color: lightgreen;
    border: 1px solid var(--border-color);
    width: 500px;
    height: 300px;
    /* scale: 0.6; */
    transition: scale 0.3s ease-in-out;
    &:hover {
      scale: 1;
    }
    animation: hola linear;
    scroll-snap-align: start;
    view-timeline: --image inline;
    animation-timeline: --image;
  }

  /* @supports selector(:has(+ *)) {
    img:hover + img {
      scale: 0.7;
    }
    img:has(+ img:hover) {
      scale: 0.8;
    }
  } */
}

/*I need external-container to make the container queries work correctly in "Safari"
 because in the grid the container queries do not work and break the grid.*/

.external-container {
  container-type: inline-size;
  container-name: grid;
}
.all-cards {
  /* container-type: inline-size;
  container-name: grid; */
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
  gap: 10px;

  .card {
    container-type: inline-size;
    container-name: card;
    border: 1px solid var(--border-color);

    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 20px;
    }

    &:nth-child(4n) {
      grid-column: span 2;
      grid-row: span 1;
    }

    &:nth-child(3n) {
      grid-column: span 1;
      grid-row: span 2;
      .card__image {
        flex: 1;
      }
    }

    .card__category {
      background-color: red;
    }

    @container card (min-width: 500px) {
      .container {
        display: grid;
        grid-template-columns: 60% auto;
        gap: 20px;
        height: 100%;
      }
      .card__text {
        color: purple;
      }
    }
  }
  @container grid (max-width: 600px) {
    .card {
      &:nth-child(4n) {
        grid-column: span 1;
        grid-row: span 1;
      }

      &:nth-child(3n) {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
  }
}

@keyframes hola {
  0% {
    transform: scale(0.5);
  }
  25% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.7);
  }
}

/*hidden radio buttons*/
input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/*banner*/

.banner {
  --icon-width: 10%;
  --icon-space: calc(100% - var(--icon-width));
  position: relative;
  padding-block: 50px;

  & > label {
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: green;
    transition: clip-path 0.5s ease-in-out;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  #diseño + label {
    right: 0;
    background-color: red;
    text-align: right;
  }

  .banner__icon {
    width: var(--icon-width);
  }

  .banner__text {
    text-align: center;
    flex: 1;
  }

  &:has(#diseño:checked) {
    #diseño + label {
      clip-path: polygon(
        var(--icon-width) 0,
        100% 0,
        100% 100%,
        var(--icon-width) 100%
      );
    }
    #desarrollo + label {
      clip-path: polygon(
        0 0,
        var(--icon-width) 0,
        var(--icon-width) 100%,
        0 100%
      );
    }
  }

  &:has(#desarrollo:checked) {
    #desarrollo + label {
      clip-path: polygon(
        0 0,
        var(--icon-space) 0,
        var(--icon-space) 100%,
        0% 100%
      );
    }
    #diseño + label {
      clip-path: polygon(
        var(--icon-space) 0,
        100% 0,
        100% 100%,
        var(--icon-space) 100%
      );
    }
  }
}

footer {
  padding-block: 20px;
}
